body:before {
  display: none;
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory @ rb_sysopen - estilos.sass";

}

body {
  background-image: url('/admin/img/fondo-formulario.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

form input {
  display: block;
  text-align: center;
  margin-bottom: 10px;
  font-size: 20px;
}

select {
  display: block;
}

.title {
  text-align: center;
  color: var(--my-color);
        font-family: 'Indie Flower', cursive;

        font-family: 'Syne Mono', monospace;
        background-color: var(--buton-color);
        height: 70px;

        font-family: 'Titillium Web', sans-serif;
  
}

.footer-clean .copyright {
  margin: 10px;
  font-size: 20px;
  text-align: center;
}

/* background */
html {
  height:100%;
}

body {
  margin:0;
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.content {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}

h1 {
  font-family:monospace;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}
/* caja box shadow */
.box-shadown {
  -webkit-box-shadow: 10px 14px 10px -6px rgba(117, 117, 115, 1);
  -moz-box-shadow: 10px 14px 10px -6px rgba(117, 117, 115, 1);
  box-shadow: 10px 14px 10px -6px rgba(117, 117, 115, 1);
  margin: 0 auto;
  width: 50%;
  border: 1px solid black;

}